<!-- ko allowBindings: true -->
<div class="jog-panel" id="tempPresetControl" style="display: none;">
    <h1>Temperature Profiles</h1>
    <div data-bind="foreach: temppreset_profiles">
        <div>
            <span data-bind="text: name">Default (before bind)</span>
            <div style="float:right">
                <button class="btn control-box" data-bind="click: $parent.loadBoth">Apply Both</button>
                <button class="btn control-box" data-bind="click: $parent.loadTool">Apply Tool</button>
                <button class="btn control-box" data-bind="click: $parent.loadBed">Apply Bed</button>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
